{% extends "base.html" %}

{% block title %}Grade Exams{% endblock %}

{% block head %}

<style>
   .button {
      background-color: #00000F; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .button1 {
      background-color: white;
      color: black;
      border: 2px solid #008CBA;
    }
    .button1:hover {
      background-color: #008CBA;
      color: white;
    }
</style>

{% endblock %}

{% block header %}
<div class="jumbotron" style="background-color: #F5FFBD;">
  <div class="container">
    <h1>{{ exam.name }}</h1>
    <h3>Graded Exams</h3>
    <a href="/">
      <button class="button button1" name="start">Back</button>
    </a>
  </div>
</div>
{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <th>Student Name</th>
        <th>Taken</th>
        <th>Details</th>
    </thead>
    <tbody>
        {% for e in graded_list %}
        <tr>
            <td>{{ e.student }}</td>
            <td>{{ e.created|date }}</td>
            <td>
                <a href="{% url 'exam:results-view' e.pk %}">View Grade Details</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No Exams To Grade.</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}
