{% extends "base.html" %}

{% block title %}Grade Exams{% endblock %}

{% block content %}

<h1>{{ exam.name }}</h1>
<h3>Graded Exams</h3>

<table class="table">
    <thead>
        <th>Student Name</th>
        <th>Taken</th>
        <th>Details</th>
    </thead>
    <tbody>
        {% for e in graded_list %}
        <tr>
            <td>{{ e.student }}</td>
            <td>{{ e.created|date }}</td>
            <td>
                <a href="{% url 'exam:results-view' e.pk %}">View Grade Details</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No Exams To Grade.</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>


{% endblock %}
