{% extends "base.html" %}

{% block title %}Results{% endblock %}

{% block head %}
<style>
  .button {
    background-color: #00000F; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  .button1:hover {
    background-color: #008CBA;
    color: white;
  }
</style>
{% endblock %}

{% block header %}

<div class="jumbotron" style="background-color: #BDFFBF;">
  <div class="container">
    <h1 class="display-4">{{ request.user.email }}</h1>
    <p>Exam results will show up below once they have been graded!</p><br>
  </div>
</div>
<br>

{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <th>Exam Name</th>
        <th>Taken</th>
        <th>Details</th>
    </thead>
    <tbody>
        {% for exam in graded_exams %}
        <tr>
            <td>{{ exam.exam.name }}</td>
            <td>{{ exam.created|date }}</td>
            <td>
                <a href="{% url 'exam:results-view' exam.pk %}">Details</a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td>No Exams Were Graded</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/">
  <button class="button button1" name="start">Back</button>
</a>

{% endblock %}
