<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a Question</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    .button {
      background-color: #00000F; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .button1 {
      background-color: white;
      color: black;
      border: 2px solid #F9CD85;
    }
    .button1:hover {
      background-color: #F9CD85;
      color: white;
    }
  </style>
  <body>
    <div class="jumbotron jumbotron-fluid" style="background-color: #F9CD85;">
      <div class="container">
        <h1 class="display-4">Create a Question</h1>
        <p class="lead">Create questions to be added to the question bank </p>
        <button class="button button1" name="start"><a href="#">Logout</a></button>
      </div>
    </div>

    <div style="margin-left:50px; margin-right:50px">


    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
       <h4> <label for="usr">Function Name:</label></h4>
        <input type="text" name="name" class='form-control'required> <br>
      </div>
      <div class="form-group">
        <h4><label for="usr">Problem Description:</label></h4>
        <textarea name="detail" class="form-control" required></textarea>
      </div>

    <div class="form-group">
      <label>Difficulty:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="easy" id="easy">
        <label class="form-check-label" for="flexRadioDefault1">
          Easy
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="medium" id="medium">
        <label class="form-check-label" for="flexRadioDefault1">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="hard" id="hard">
        <label class="form-check-label" for="flexRadioDefault2">
          Hard
        </label>
      </div>
     </div>
      <div class="form-group">
        <h4><label for="usr">Test Cases:</label></h4>
        <textarea name="testcases" class="form-control" required></textarea>
      </div>
      <input class="button button1" type="submit" value="Add Question">
    </form>
    </div>
      <!--Function name: <input type="text" name="name" required> <br>
      Problem description
      <textarea name="detail" required></textarea> <br>
      Testcases
      <textarea name="testcases" required></textarea> <br><-->

  </body>
</html>

<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Question Bank</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid" style="background-color: #C8E381;">
      <div class="container">
        <h1 class="display-4">Add a New Question</h1>
        <p class="lead">This is a list of questions you can use for exams or quizzes.</p>
      </div>
    </div>
    <div style="margin-left:50px; margin-right:50px">

      <form method="POST">
        {% csrf_token %}
      <div class="form-group">
        <label for="QuestionName">Question name</label>
        <input type="text" required class="form-control" id="question_name" placeholder="Question Name">
      </div>
      <div class="form-group">
        <label for="FunctionName">Function name</label>
        <input type="text" required class="form-control" id="function_name" placeholder="Function Name">
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="description" required placeholder="Description" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="TestCases">Test Cases</label>
        <input type="text" required class="form-control" id="test_cases" placeholder="Test Cases">
      </div>

      <input type="submit" value="Add Question">
      </form>
<!--
    <form >
      {% csrf_token %}

      Function name: <input type="text" name="name" required> <br>
      Problem description
      <!---not sure if we should have a more elaborate form here--->
<!--      <textarea name="detail" required></textarea> <br>
      Testcases
      <textarea name="testcases" required></textarea> <br>
      <input type="submit" value="add question">
    </form>-->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
