{% extends "base.html" %}

{% block title %}Create a Question{% endblock %}

{% block head %}
<style>
  .button {
    background-color: #00000F; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #F9CD85;
  }
  .button1:hover {
    background-color: #F9CD85;
    color: white;
  }

  .split {
  height: 100%;
  width: 47%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 200px;
  }

  /* header above split screen */
  .header{
    width:100%;
    height:50px;
    position:fixed;
    z-index:100;
    background-color:#F00;
  }

  /* Control the left side */
  .left {
    left: 0;
    background-color: white;
  }
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
  }
</style>
{% endblock %}


{% block header %}
<div class="header">
  <div class="jumbotron jumbotron-fluid" style="background-color: #F9CD85;">
    <div class="container">
      <h1 class="display-4">Create a Question</h1>
      <p class="lead">Create questions to be added to the question bank </p>
      <br>
      <a href="{% url 'exam:questions-list' %}">
        <button class="button button1">Question Bank</button>
      </a>
    </div>
    <br>
  </div>
</div>
<br>
{% endblock %}


{% block content %}
<form method="POST">
  {% csrf_token %}
<div class="split left">
  <!-- Function Name -->
  <br>
  <br>
  <div class="form-group">
    <h4><label for="usr">Function Name:</label></h4>
    <input type="text" name="name" class='form-control'required> <br>
  </div>
  <br>

  <!-- Discription -->
  <div class="form-group">
    <h4><label for="usr">Problem Description:</label></h4>
    <textarea name="detail" class="form-control" required></textarea>
  </div>
  <br>

  <!-- Difficulty -->
  <div class="form-group">
    <h4><label>Difficulty:</label></h4>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="difficulty" id="easy" value="EASY">
      <label class="form-check-label" for="flexRadioDefault1">Easy</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="difficulty" id="medium" value="MEDIUM">
      <label class="form-check-label" for="flexRadioDefault1">Medium</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="difficulty" id="hard" value="HARD">
      <label class="form-check-label" for="flexRadioDefault2">Hard</label>
    </div>
  </div>
  <br>

  <!-- Testcases -->
  <div class="form-group">
    <h4><label for="usr">Test Cases:</label></h4>
    <textarea name="testcases" class="form-control" required></textarea>
  </div>
  <br>

  <!-- Submit -->
  <input class="button button1" type="submit" value="Add Question">
  <br>
</div>
</form>
<a href="/">
  <button class="button button1" name="start">Back</button>
</a>

<div class="split right">
  <br>
  <br>
  <table class="table">
    <thead>
      <th>#</th>
      <th>Function Name</th>
      <th>Difficulty</th>
      <th>Category</th>
      <th>Created</th>
      <th>Details</th>
    </thead>
    <tbody>
      {% for question in question_list %}

      <tr>
        <td>{{ question.pk }}</td>
        <td>{{ question.name }}</td>
        <td>{{ question.difficulty }}</td>
        <td>{{ question.category }}</td>
        <td>{{ question.created|date }}</td>
        <td>
          <input type="checkbox" id="c-{{q.pk}}" name="questions[{{ forloop.counter }}]" value="{{q.pk}}">
        </td>
        <td><a href="{% url 'exam:questions-detail' question.pk %}">View Details</a></td>
      </tr>

      {% empty %}
      <tr>No Questions Yet. <a href="{% url 'exam:questions-add' %}">Add a new question</a> </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
