{% extends "base.html" %}

{% block title %}Create a Question{% endblock %}

{% block head %}
<style>
  .button {
    background-color: #00000F; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #F9CD85;
  }
  .button1:hover {
    background-color: #F9CD85;
    color: white;
  }

  .split {
  height: 100%;
  width: 47%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 200px;
  }

  /* header above split screen */
  .header{
    width:100%;
    height:50px;
    position:fixed;
    z-index:100;
    background-color:#F00;
  }

  /* Control the left side */
  .left {
    left: 0;
    background-color: white;
  }
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
  }
</style>
{% endblock %}


{% block header %}
<div class="header">
  <div class="jumbotron jumbotron-fluid" style="background-color: #F9CD85;">
    <div class="container">
      <h1 class="display-4">Create a Question</h1>
      <p class="lead">Create questions to be added to the question bank </p>
      <br>
      <a href="{% url 'exam:questions-list' %}">
        <button class="button button1">Question Bank</button>
      </a>
    </div>
    <br>
  </div>
</div>
<br>
{% endblock %}


{% block content %}
<form method="POST">
  {% csrf_token %}
<div class="split left" style="padding-left:35px; padding-right:15px">
  <!-- Function Name -->
  <br>
  <br>
  <div class="form-group">
    <br>
    <h4><label for="usr">Function Name:</label></h4>
    <input type="text" name="name" class='form-control'required> <br>
  </div>
  <br>

  <!-- Discription -->
  <div class="form-group">
    <h4><label for="usr">Problem Description:</label></h4>
    <textarea name="detail" class="form-control" required></textarea>
  </div>
  <br>

  <!-- Difficulty -->
  <div class="form-group">
    <h4><label>Difficulty:</label></h4>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="difficulty" id="easy" value="EASY">
      <label class="form-check-label" for="flexRadioDefault1">Easy</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="difficulty" id="medium" value="MEDIUM">
      <label class="form-check-label" for="flexRadioDefault1">Medium</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="difficulty" id="hard" value="HARD">
      <label class="form-check-label" for="flexRadioDefault2">Hard</label>
    </div>
    <br>

    <div class="form-group">
      <h4><label for="usr">Constraint?</label></h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="constraint" id="if" value="IF">
        <label class="form-check-label" for="flexRadioDefault1">If Condition</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="constraint" id="while" value="WHILE">
        <label class="form-check-label" for="flexRadioDefault1">While Loop</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="constraint" id="for" value="FOR">
        <label class="form-check-label" for="flexRadioDefault1">For Loop</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="constraint" id="none" value="NONE">
        <label class="form-check-label" for="flexRadioDefault1">None</label>
      </div>
      <br>
      <div class="form-group">
        <h4><label for="usr">Topic:</label></h4>
        <input type="text" name="topic" class='form-control'required> <br>
      </div>
    </div>
  </div>
  <br>

  <!-- Testcases -->
  <div class="form-group">
    <h4><label for="usr">Test Cases:</label></h4>
    <textarea name="testcases" class="form-control" required></textarea>
  </div>
  <br>

  <!-- Submit -->
  <input class="button button1" type="submit" value="Add Question">
  <br>
</div>
</form>
<a href="/">
  <button class="button button1" name="start">Back</button>
</a>

<div class="split right" style="padding-right:35px">
  <br>
  <br>
  <br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left:5px">
    <a class="navbar-brand" href="#"> Filters:</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <p></p>
        </li>
        <li class="nav-item dropdown" style="padding-left:15px">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Difficulty
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">EASY</a></li>
              <li><a class="dropdown-item" href="#">MEDIUM</a></li>
              <li><a class="dropdown-item" href="#">HARD</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item dropdown"style="padding-left:15px">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Topics
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <!-- {% for topic in topic_list %}
              <li><a class="dropdown-item" href="#">{{ topic.name }}</a></li>
              {% empty %}
              <li>No Questions Yet. <a href="{% url 'exam:questions-add' %}">Add a new question</a> </li>
              {% endfor %}
              -->
              <li><a class="dropdown-item" href="#">FORLOOP</a></li>
              <li><a class="dropdown-item" href="#">WHILELOOP</a></li>
              <li><a class="dropdown-item" href="#">RECURSION</a></li>
              <li><a class="dropdown-item" href="#">MATH</a></li>
              <li><a class="dropdown-item" href="#">ARRAYS</a></li>
              <li><a class="dropdown-item" href="#">IF</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="input-group" style="padding-left:25px; padding-right:5px">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">SEARCH</button>
      </div>
  </nav>
  <br>

  <table class="table">
    <thead>
      <th>#</th>
      <th>Function Name</th>
      <th>Difficulty</th>
      <th>Created</th>
      <th>Details</th>
    </thead>
    <tbody>
      {% for question in question_list %}

      <tr>
        <td>{{ question.pk }}</td>
        <td>{{ question.name }}</td>
        <td>{{ question.difficulty }}</td>
        <td>{{ question.created|date }}</td>
        <td><a href="{% url 'exam:questions-detail' question.pk %}">View Details</a></td>
      </tr>

      {% empty %}
      <tr>No Questions Yet. <a href="{% url 'exam:questions-add' %}">Add a new question</a> </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
