{% extends "base.html" %}

{% block title %}{{ question.name }}{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}



{% block header %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Question #{{ question.pk }} Details</h1>
    <p class="lead">Details for question #{{ question.pk }} provided on this page</p>

    <a href="{% url 'exam:questions-list' %}">
      <button class="button button1">Question Bank</button>
    </a>
  </div>
</div>
{% endblock %}


{% block content %}

<h4>Question Number:</h4>
{{ question.pk }}<br>
<h4>Question Name:<br></h4>
{{ question.name }}<br>
<h4>Date Created:<br></h4>
{{ question.created|date }} <br>
<h4>Question Description: <br></h4>
{{ question.detail }} <br>
<h4>Testcases:<br></h4>
<pre>
{{ question.testcases }} 
</pre>
<br>
<p></p>

{% endblock %}
