{% extends "base.html" %}

{% block title %}{{ question.name }}{% endblock %}

{% block head %}
<style>
   .button {
      background-color: #00000F; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .button1 {
      background-color: white;
      color: black;
      border: 2px solid #008CBA;
    }
    .button1:hover {
      background-color: #008CBA;
      color: white;
    }
</style>
{% endblock %}


{% block header %}
<div class="jumbotron" style="background-color: #F5FFBD;">
  <div class="container">
    <h1 class="display-4">Question #{{ question.pk }} Details</h1>
    <p class="lead">Details for question #{{ question.pk }} provided on this page</p>

    <a href="{% url 'exam:questions-list' %}">
      <button class="button button1">Question Bank</button>
    </a>
  </div>
</div>
{% endblock %}


{% block content %}

<h4>Question Number:</h4>
{{ question.pk }}<br>
<h4>Question Name:<br></h4>
{{ question.name }}<br>
<h4>Date Created:<br></h4>
{{ question.created|date }} <br>
<h4>Question Description: <br></h4>
{{ question.detail }} <br>
<h4>Testcases:<br></h4>
<pre>
{{ question.testcases }}
</pre>
<br>
<p></p>

{% endblock %}
