{% extends "base.html" %}

{% block title %}Question Bank{% endblock %}

{% block head %}
<style>
  .button {
    background-color: #00000F; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  .button1:hover {
    background-color: #008CBA;
    color: white;
  }
</style>
{% endblock %}


{% block header %}
<div class="jumbotron" style="background-color: #BDFCFF;">
  <div class="container">
    <h1 class="display-4">Question Bank</h1>
    <p class="lead">This is a list of questions you can use for exams or quizzes</p>

    <button class="button button1" name="start">
      <a href="{% url 'exam:questions-add' %}">Add a new question</a>
    </button>
    <br>
  </div>
</div>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Difficulty</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction()">
    <a href="#easy">EASY</a>
    <a href="#medium">MEDIUM</a>
    <a href="#hard">HARD</a>
  </div>
</div>
{% endblock %}


{% block content %}

<table class="table">
  <thead>
    <th>#</th>
    <th>Function Name</th>
    <th>Difficulty</th>
    <th>Created</th>
    <th>Details</th>
  </thead>
  <tbody>
    {% for question in question_list %}

    <tr>
      <td>{{ question.pk }}</td>
      <td>{{ question.name }}</td>
      <td>{{ question.difficulty }}</td>
      <td>{{ question.created|date }}</td>
      <td><a href="{% url 'exam:questions-detail' question.pk %}">View Details</a></td>
    </tr>

    {% empty %}
    <tr>No Questions Yet. <a href="{% url 'exam:questions-add' %}">Add a new question</a> </tr>
    {% endfor %}
  </tbody>
</table>

<button class="button button1" name="start">
  <a href="/">Back</a>
</button>

{% endblock %}
