{% extends "base.html" %}

{% block title %}Question Bank{% endblock %}

{% block head %}
<style>
  .button {
    background-color: #00000F; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  .button1:hover {
    background-color: #008CBA;
    color: white;
  }
</style>
{% endblock %}


{% block header %}
<div class="jumbotron" style="background-color: #BDFCFF;">
  <div class="container">
    <h1 class="display-4">Question Bank</h1>
    <p class="lead">This is a list of questions you can use for exams or quizzes</p>

    <a href="{% url 'exam:questions-add' %}" class="button button1">Add a new question</a>
    <br>
  </div>
  <br>
</div>
{% endblock %}


{% block content %}
<p></p>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left:50px">
  <a class="navbar-brand"> Filters:</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p></p>
      </li>
      <li class="nav-item dropdown" style="padding-left:150px">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Difficulty
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><button class="dropdown-item" onclick="onDifficultySelected('EASY')">Easy</button></li>
            <li><button class="dropdown-item" onclick="onDifficultySelected('MEDIUM')">Medium</button></li>
            <li><button class="dropdown-item" onclick="onDifficultySelected('HARD')">Hard</button></li>
            <li><button class="dropdown-item" onclick="onDifficultySelected(null)">Clear Filter</button></li>
          </ul>
        </div>
      </li>
      <li class="nav-item dropdown"style="padding-left:150px">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Topics
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><button class="dropdown-item" onclick="onTopicSelected('FORLOOP')">For Loop</button></li>
            <li><button class="dropdown-item" onclick="onTopicSelected('WHILELOOP')">While Loop</button></li>
            <li><button class="dropdown-item" onclick="onTopicSelected('RECURSION')">Recursion</button></li>
            <li><button class="dropdown-item" onclick="onTopicSelected('MATH')">Math</button></li>
            <li><button class="dropdown-item" onclick="onTopicSelected('ARRAYS')">Arrays</button></li>
            <li><button class="dropdown-item" onclick="onTopicSelected('IF')">If</button></li>
            <li><button class="dropdown-item" onclick="onTopicSelected(null)">Clear Filter</button></li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="input-group" style="padding-left:250px; padding-right:50px">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" onkeydown="keywordSearch(this.value)"/>
      <button type="button" class="btn btn-outline-primary">search</button>
    </div>
</nav>

<table class="table">
  <thead>
    <th>#</th>
    <th>Function Name</th>
    <th>Difficulty</th>
    <th>Topic</th>
    <th>Constraint</th>
    <th>Created</th>
    <th>Details</th>
  </thead>
  <tbody>
    {% for question in question_list %}
    <!-- -{{ question.name }}-{{ question.difficulty }}-{{ question.topic }} -->
    <tr id="view-{{ question.pk }}">
      <td>{{ question.pk }}</td>
      <td>{{ question.name }}</td>
      <td>{{ question.difficulty }}</td>
      <td>{{ question.topic }}</td>
      <td>{{ question.constraint }}</td>
      <td>{{ question.created|date }}</td>
      <td><a href="{% url 'exam:questions-detail' question.pk %}">View Details</a></td>
    </tr>

    {% empty %}
    <tr>No Questions Yet. <a href="{% url 'exam:questions-add' %}">Add a new question</a> </tr>
    {% endfor %}
  </tbody>
</table>


<a href="/" class="button button1">Back</a>

{% endblock %}

{% block scripts %}
<!-- Question Bank -->
<script>
  // We create a JS array with our question data we can search through
  const questions = [
    {% for question in question_list %}
      { id: "{{ question.id }}", name: "{{ question.name }}", topic: "{{ question.topic }}", difficulty: "{{ question.difficulty }}" },
    {% endfor %}
  ]
</script>

<script>
  function onDifficultySelected(difficulty) {
    if(difficulty === null) return showAll()

    const show = questions.filter(q => q.difficulty === difficulty)
    const showIds = show.map(q => q.id)

    showAllInArray(showIds)
  }

  function onTopicSelected(topic) {
    if(topic === null) return showAll()

    const show = questions.filter(q => q.topic === topic)
    const showIds = show.map(q => q.id)

    showAllInArray(showIds)
  }

  function keywordSearch(keyword) {
    const show = questions.filter(q => q.name.includes(keyword))
    const showIds = show.map(q => q.id)

    showAllInArray(showIds)
  }


  function showAllInArray(showOnly) {
    for(q of questions) {
      if(showOnly.includes(q.id)) $(`#view-${q.id}`).show()
      else $(`#view-${q.id}`).hide()
    }
  }

  function showAll() {
    for(q of questions) {
      $(`#view-${q.id}`).show()
    }
  }
</script>
{% endblock %}
