{% extends "base.html" %}


{% block content %}
<head>
    <meta charset="utf-8">
    <title>Create Exam</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body> 
    <div class="jumbotron jumbotron-fluid" style="background-color: #008CBA;">
      <div class="container">
        <h1 class="display-4">Create Exams </h1>
        <p class="lead">Create exams using questions from the question bank</p>
      </div>
    </div>


<form method="post">
    {% csrf_token %}

    Exam Name: <input type="text" name="name" required> <br><br>

    {% for q in questions %}

        <input type="checkbox" id="c-{{q.pk}}" name="questions[{{ forloop.counter }}]" value="{{q.pk}}">
        <label for="{{q.pk}}"> {{q.name}}</label>

        <input type="number" name="questions[{{ forloop.counter }}]" value="0" />
        <br>

    {% endfor %}

    <input type="checkbox" id="is_assigned" name="is_assigned" value="assigned">
    <label for="is_assigned"> Assign To Students </label>
    <br>

    <input type="submit" value="Create Exam">
</body>
</form>

{% endblock %}


{% block scripts %}
<script>

</script>
{% endblock %}
