
{% extends "base.html" %}

{% block title %}Create Exam{% endblock %}

{% block head %}
<style>
  .button {
    background-color: #00000F; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  .button1:hover {
    background-color: #008CBA;
    color: white;
  }
</style>
{% endblock %}



{% block header %}
<div class="jumbotron" style="background-color: #C8E381;">
  <div class="container">
    <h1 class="display-4">Create New Exam</h1>
    <p class="lead">Here you can choose questions from Question bank for an Exam.</p>

    <button class="button button1" name="start">
      <a href="/">Back</a>
    </button>
  </div>
</div>
{% endblock %}


{% block content %}
<br>
<form method="POST">
  {% csrf_token %}

  <!-- Exam Name -->
  <div class="form-group">
    <label for="QuestionName">Exam name</label>
    <input type="text" required class="form-control" id="exam_name" required placeholder="Exam Name" name="name">
  </div>
  <br>

  <table class="table">
    <thead>
      <th>Question</th>
      <th>Select</th>
      <th>Points</th>
    </thead>
    <tbody>

      {% for q in questions %}
        <tr>
          <!-- Question -->
          <td>
            <a href="{% url 'exam:questions-detail' q.pk %}" target="_blank">{{q.name}} - {{q.difficulty}}</a>
          </td>
          <!-- Select -->
          <td>
            <input type="checkbox" id="c-{{q.pk}}" name="questions[{{ forloop.counter }}]" value="{{q.pk}}">
          </td>
          <!-- Points -->
          <td>
            <input type="number" name="questions[{{ forloop.counter }}]" value="0" />
          </td>
        </tr>
      {% empty %}
      <tr>
        <td>No Questions Yet. <a href="{% url 'exam:questions-add' %}">Add a new question</a> </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>


  <br>
  <!-- Assign -->
  <input type="checkbox" id="is_assigned" name="is_assigned" value="assigned">
  <label for="is_assigned"> Assign To Students </label>
  <br>

  <!-- Submit -->
  <button class="button button1" type="submit" value="Create Exam">Create Exam</button>
  <br>

</form>
{% endblock %}
