{% extends "base.html" %}

{% block title %}Exam List{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}


{% block header %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Exam Bank</h1>
    <p class="lead">List of Exams</p>

    <button class="button button1" name="start">
      <a href="/">Back</a>
    </button>
    <br>

    <a href="{% url 'exam:exams-add' %}">Create Exam</a>
    <br>

  </div>
</div>
{% endblock %}


{% block content %}


<table class="table">
  <thead>
    <td>Name</td>
    <td>Created</td>
    <td>Assigned</td>
    <td>Details</td>
  </thead>
  <tbody>

    {% for exam in exam_list %}
      <tr>
        <td>{{ exam.name }}</td>
        <td>{{ exam.created|date }} {{ exam.created|time }}</td>
        
        {% if exam.is_assigned %}
          <td>ASSIGNED</td>
        {% else %}
          <td>NOT ASSIGNED</td>
        {% endif %}

        <td><a href="{% url 'exam:exams-detail' exam.pk %}">View Details</a></td>
      </tr>
    {% empty %}
        <li class="list-group-item">No Exams yet. <a href="{% url 'exam:exams-add' %}">Create Exam</a></li>
        <tr>
          <td>No Exams yet. </td>
        </tr>
    {% endfor %}

    
  </tbody>
</table>

{% endblock %}
