<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exam List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body> 
    <div class="jumbotron jumbotron-fluid" style="background-color: #8EF79E;">
      <div class="container">
        <h1 class="display-4">Exam List</h1>
        <p class="lead">View all exams</p>
      </div>
    </div>

<ul>
{% for exam in exam_list %}
<li>
    <a href="{% url 'exam:exams-detail' exam.pk %}">
        {{ exam.name }} - {{ exam.created|date }} - {{ exam.is_assigned }}
    </a>
</li>

{% empty %}
    <li class="list-group-item">No Questions yet.</li>
{% endfor %}
</ul>
