{% extends "base.html" %}

{% block title %}Grade Exams{% endblock %}

{% block content %}

<h1>Exams To Take</h1>
<p>These are the exams assigned to you</p><br>


<table class="table">
    <thead>
        <th>Exam Name</th>
        <th>Created</th>
        <th>Take</th>
    </thead>
    <tbody>
        {% for exam in exam_list %}
        <tr>
            <td>{{ exam.name }}</td>
            <td>{{ exam.created|date }}</td>
            <td>
                <a href="{% url 'exam:exams-take' exam.pk %}">Take Exam</a>
            </td>
        </tr>

        {% empty %}
        <tr>No Exams To Grade.</tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
