{% extends "base.html" %}


{% block content %}


<h1>Exam {{ exam.name }}</h1>
{{ exam.created|date }} <br>

<h2>Questions</h2>

<form method="POST">
    {% csrf_token %}

    {% for eq in questions %}
        <div>
            <h5>{{ eq.question.name }}</h5>
            <p>{{ eq.detail }} <i>({{ eq.points }})</i> </p> <br>
            <input type="hidden" value="{{ eq.pk }}" name="answer[{{ forloop.counter }}]">
            <textarea name="answer[{{ forloop.counter }}]">

            </textarea>
        </div>
        <br>
    {% empty %}
        <p>No Questions.</p>
    {% endfor %}

    <br>
    <br>
    <input type="submit" value="Submit Exam">

</form>


{% endblock %}


{% block scripts %}

{% endblock %}
